<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item>PokitShare</li>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <div nz-row nzJustify="center">
        <img
        nz-image
        width="200px"
        height="200px"
        nzSrc="../assets/pokitshare logo.jpg"
        alt=""
        />
      </div>
      <nz-divider nzOrientation="center" nzText="Company Name"></nz-divider>
      <div nz-row nzJustify="center">
          <h3><span nz-typography><strong>PokitShare</strong></span></h3>
      </div>
      <nz-divider nzOrientation="center" nzText="Company Address"></nz-divider>
      <div nz-row nzJustify="center">
        <h3><span nz-typography><strong>MCAST Main Campus,
          Triq Kordin,
          Malta</strong></span></h3>
      </div>
      <nz-divider nzOrientation="center" nzText="Brand Slogan"></nz-divider>
      <div nz-row nzJustify="center">
        <h3><span nz-typography><strong>Sharing Made Easy!</strong></span></h3>
      </div>
      <nz-divider nzOrientation="center" nzText="Social Links"></nz-divider>
      <div nz-row nzJustify="center">
        <h3>
          <span nz-icon nzType="facebook" nzTheme="outline"></span>
          <span nz-typography><strong> PokitShare </strong></span>
          <span nz-icon nzType="youtube" nzTheme="outline"></span>
          <span nz-typography><strong> PokitShare </strong></span>
        </h3>    
      </div>
      <nz-divider nzOrientation="center" nzText="Website Link"></nz-divider>
      <div nz-row nzJustify="center">      
        <h3 nz-typography><span nz-typography><strong> PokitShare Website </strong></span></h3> 
      </div>
      <nz-divider nzOrientation="center" nzText="Video Link"></nz-divider>
      <div nz-row nzJustify="center">       
        <h3 nz-typography><span nz-typography><strong><a href="https://youtu.be/MXCcR5yetRY">Video</a></strong></span></h3>
      </div>
    </div>
  </nz-content>
  <nz-footer>PokitShare ©2023</nz-footer>
</nz-layout>